<div style="text-align: left;">
  <h1>{{title}}</h1>
</div>

<!-- creer 2 composants
post : title, content, loveIts, created_at -->
<app-post-list-component [list]="list"></app-post-list-component>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <!-- <h2>Mes appareils au {{lastUpdate | async | date:'short'}}</h2>
        <ul class="list-group">
          <app-appareil  *ngFor="let appareil of appareils"
                          [appareilName]="appareil.name"
                          [appareilStatus]="appareil.status"></app-appareil>
        </ul> -->

      <!-- <ul class="list-group">
        <app-appareil [appareilName]="app1" [appareilStatus]="appon"></app-appareil>
        <app-appareil [appareilName]="app2" [appareilStatus]="appon"></app-appareil>
        <app-appareil [appareilName]="app3" [appareilStatus]="appon"></app-appareil>
      </ul> -->
      <button 
        class="btn btn-success" 
        [disabled]="!isAuth"
        (click)="allOn()">All ON
      </button>
    </div>
  </div>
</div>