<div style="text-align: center;">
  <h1>Welcome {{title}}!</h1>
</div>
<app-monpremier></app-monpremier>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes appareils</h2>
      <ul class="list-group">
        <app-appareil></app-appareil>
        <app-appareil></app-appareil>
        <app-appareil></app-appareil>
      </ul>
      <button 
        class="btn btn-success" 
        [disabled]="!isAuth"
        (click)="allOn()">All ON
      </button>
    </div>
  </div>
</div>